.navbar{
    list-style: none;
    background-color: black;
    overflow: hidden;
}

.navbar li{
    float: left;
}

.navbar li a{
    display: block;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
}

.navbar li a:hover{
    background-color: gray;
}