body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
}

.description{
    text-align: justify;
    text-transform: capitalize;
    letter-spacing: 2px;
    line-height: 1.8;
}