.container{
    display: flex;
    gap: 10px;
}

.box{
    flex: 1;
    background-color: lightblue;
    padding: 20px;
}

/* Responsive Design */
@media screen and (max-width:768px){

    .container{
        flex-direction: column;
    }

    .box{
        font-size: 14px;
    }
}
